hyprland
hyprlock
hyprpaper
waybar
wofi
mako
wlogout
kitty
alacritty
fish
starship
fastfetch
pipewire
wireplumber
brightnessctl
pavucontrol
playerctl
btop
rofi
grim
slurp
wl-clipboard
ttf-jetbrains-mono-nerd
cantarell-fonts
ttf-sarasa-gothic
ttf-fira-sans
otf-font-awesome
imagemagick
gnome-themes-extra
nwg-look
qt5ct
qt6ct
